/* set page standards */
html {
  font-family: Helvetica;
  font-size: 18px;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}

/* header */
header {
  background-image: url(./images/background.png);
  background-position: center;
  background-size: cover;
  height: 30rem;
}

nav {
  padding: 1rem 0;
}

nav span {
  padding-right: 2rem;
}

.container {
  margin: 0 auto;
  padding-top: 1rem;
  width: 960px;
}

.banner {
  color: white;
  background-color: cadetblue;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  font-weight: lighter;
  width: 100%;
}

.banner a {
  color: white;
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 1.5rem;
  padding: 0 1rem 0 2rem;
}

#menu {
  display: none;
}

/* headline */
.headline {
  background-color: white;
  display: inline-block;
  float: right;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  margin: 10rem -2rem 0 0;
}

.headline h1 {
  padding: 1.5rem 5rem;
}

/* services section */

.services {
  display: flex;
  justify-content: center;
  height: 8rem;
  margin: 2rem 0;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 8rem;
  width: 5rem;
  text-align: center;
}

.one,
.two {
  padding-right: 6rem;
}

#paper {
  width: 3.5rem;
}

#ruler,
#truck {
  width: 5rem;
}

/* further info */
h2 {
  background-color: cadetblue;
  color: white;
  font-weight: bold;
  padding: .5rem 0 .5rem 1.25rem;
  width: 10rem;
}

p {
  margin-top: 1rem;
}

.further-info {
  display: flex;
  justify-content: center;
}

.info {
  display: inline-block;
  width: 35%;
}

.philosophy {
  margin-right: 5%;
}

/* footer */
.footer {
  background-color: azure;
  margin-top: 4rem;
}

.copyright {
  display: flex;
  align-items: center;
  padding: 4rem 0 4rem 4rem;
}

.copyright img {
  height: 1.5rem;
  padding-right: 1rem;
}

@media only screen and (max-width: 980px) {
  header {
    height: 22rem;
  }

  .container {
    padding-top: 0;
    width: 100%;
  }

  .headline {
    font-size: 1.33rem;
    margin: 5rem 2rem 0 0;
  }

  .headline h1 {
    padding: .75rem 4rem;
  }
}

@media only screen and (max-width: 680px) {
  header {
    height: 17rem;
  }

  .container {
    width: 100%;
  }

  .headline {
    font-size: 1rem;
    margin: 9rem 0 0 0;
    text-align: center;
    width: 100%;
  }

  .headline h1 {
    margin: 0 auto;
    padding: 1rem 0;
  }

  .menu-item {
    display: none;
  }

  #menu {
    display: inline-block;
  }

  .services {
    flex-direction: column;
    align-items: center;
    height: 24rem;
    margin: 3.77rem 0;
  }

  .service {
    font-size: .77rem;
  }

  .one,
  .two {
    padding-bottom: 1.54rem;
    padding-right: 0;
  }

  .further-info {
    flex-direction: column;
  }

  h2 {
    text-align: center;
    width: 100%;
  }

  .info {
    width: 100%;
  }

  .philosophy {
    margin-right: 5%;
  }

  p {
    font-size: .77rem;
    margin: 1rem auto 4rem auto;
    width: 90%;
  }

  .footer {
    margin-top: 0;
  }

  footer span {
    display: none;
  }

  .copyright {
    padding: 4rem;
  }

  .copyright img {
    margin: 0 auto;
    padding-right: 0;
  }
}
